<%include ./partial/header1.ejs%>
<div class="container">
  <div class="row">
    <h1 style="text-align:center;">Login</h1>
    <div style="width: 30%; margin:25px auto;">
      <form action="/login" method="POST">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="username"
            placeholder="username"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="password"
          />
        </div>
        <div class="form-group">
          <input
            class="btn btn-primary btn-lg btn-block"
            style="margin-bottom: 25px;"
            type="submit"
            value="LOGIN!"
          />
        </div>
      </form>
      <a href="/">GO Back</a>
    </div>
  </div>
</div>

<%include ./partial/footer1.ejs%>
